global:
  scrape_interval:     30s # Set the scrape interval to every 30 seconds. Default is every 1 minute.
  scrape_timeout:      30s # Set the scrape timeout to shorter than or equal to scrape_interval. Default is every 1 minute.
  # evaluation_interval: 60s # is set to the default every 1 minute.

# Alertmanager configuration (optional)
#alerting:
#  alertmanagers:
#  - static_configs:
#    - targets:
#       - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'. (optional)
#rule_files:
#  - "purefa_alerts_rules.yml"
#  - "purefa_pods_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself
scrape_configs:

  - job_name: "prometheus"
    static_configs:
    - targets: ["prometheus-server.fqdn.com:9090"]

# ################################ #
# Pure Storage FlashArray Number 1 #
# ################################ #
# Create a single scrape job for each selected metric endpoint per FlashArray.
# It is NOT recommended to scrape the root /metrics endpoint as it can be an expensive query.
# Scrape job for Pure Storage FlashArray 1 scraping /metrics/array
  - job_name: 'purefa_array_arrayname01'
    metrics_path: /metrics/array
    # Bearer authorization token
    authorization:
      credentials: 11111111-1111-1111-1111-111111111111
    params:
      endpoint: ['arrayname01.fqdn.com']

    static_configs:
    # purefa openmetrics exporter
    - targets:
      - purefa-openmetrics-exporter.fqdn.com:9490
      labels:
        location: uk
        site: London
        instance: arrayname01
        env: production

# Scrape job for Pure Storage FlashArray 1 scraping /metrics/volumes
  - job_name: 'purefa_volumes_arrayname01'
    metrics_path: /metrics/volumes
    # Bearer authorization token
    authorization:
      credentials: 11111111-1111-1111-1111-111111111111
    params:
      endpoint: ['arrayname01.fqdn.com']

    static_configs:
    # purefa openmetrics exporter
    - targets:
      - purefa-openmetrics-exporter.fqdn.com:9490
      labels:
        location: uk
        site: London
        instance: arrayname01
        env: production

# Scrape job for Pure Storage FlashArray 1 scraping /metrics/hosts
  - job_name: 'purefa_hosts_arrayname01'
    metrics_path: /metrics/hosts
    # Bearer authorization token
    authorization:
      credentials: 11111111-1111-1111-1111-111111111111
    params:
      endpoint: ['arrayname01.fqdn.com']

    static_configs:
    # purefa openmetrics exporter
    - targets:
      - purefa-openmetrics-exporter.fqdn.com:9490
      labels:
        instance: arrayname01
        location: uk
        site: London
        env: production

# Scrape job for Pure Storage FlashArray 1 scraping /metrics/pods
  - job_name: 'purefa_pods_arrayname01'
    metrics_path: /metrics/pods
    # Bearer authorization token
    authorization:
      credentials: 11111111-1111-1111-1111-111111111111
    params:
      endpoint: ['arrayname01.fqdn.com']

    static_configs:
    # purefa openmetrics exporter
    - targets:
      - purefa-openmetrics-exporter.fqdn.com:9490
      labels:
        instance: arrayname01
        location: uk
        site: London
        env: production

# Scrape job for Pure Storage FlashArray 1 scraping /metrics/directories
  - job_name: 'purefa_directories_arrayname01'
    metrics_path: /metrics/directories
    # It is recommended to collect expensive queries less frequently such as /metrics/directories.
    scrape_interval:     15m # Set the scrape interval to every 15min. Default is every 1 minute. This overrides the global setting.
    scrape_timeout:      15m # Set the scrape timeout to shorter than or equal to scrape_interval. Default is every 1 minute.
    # Bearer authorization token
    authorization:
      credentials: 11111111-1111-1111-1111-111111111111
    params:
      endpoint: ['arrayname01.fqdn.com']

    static_configs:
    # purefa openmetrics exporter
    - targets:
      - purefa-openmetrics-exporter.fqdn.com:9490
      labels:
        instance: arrayname01
        location: uk
        site: London
        env: production

# ################################ #
# Pure Storage FlashArray Number 2 #
# ################################ #
# Scrape job for Pure Storage FlashArray 2 scraping /metrics/array
  - job_name: 'purefa_array_arrayname02'
    metrics_path: /metrics/array
    # Bearer authorization token
    authorization:
      credentials: 22222222-2222-2222-2222-222222222222
    params:
      endpoint: ['arrayname02.fqdn.com']

    static_configs:
    # purefa openmetrics exporter
    - targets:
      - purefa-openmetrics-exporter.fqdn.com:9490
      labels:
        location: fr
        site: Paris
        instance: arrayname02
        env: production

# Scrape job for Pure Storage FlashArray 2 scraping /metrics/volumes
  - job_name: 'purefa_volumes_arrayname02'
    metrics_path: /metrics/volumes
    # Bearer authorization token
    authorization:
      credentials: 22222222-2222-2222-2222-222222222222
    params:
      endpoint: ['arrayname02.fqdn.com']

    static_configs:
    # purefa openmetrics exporter
    - targets:
      - purefa-openmetrics-exporter.fqdn.com:9490
      labels:
        instance: arrayname02
        location: fr
        site: Paris
        env: test

# Scrape job for Pure Storage FlashArray 2 scraping /metrics/hosts
  - job_name: 'purefa_hosts_arrayname02'
    metrics_path: /metrics/hosts
    # Bearer authorization token
    authorization:
      credentials: 22222222-2222-2222-2222-222222222222
    params:
      endpoint: ['arrayname02.fqdn.com']

    static_configs:
    # purefa openmetrics exporter
    - targets:
      - purefa-openmetrics-exporter.fqdn.com:9490
      labels:
        instance: arrayname02
        location: fr
        site: Paris
        env: test

# Scrape job for Pure Storage FlashArray 2 scraping /metrics/pods
  - job_name: 'purefa_pods_arrayname02'
    metrics_path: /metrics/pods
    # Bearer authorization token
    authorization:
      credentials: 22222222-2222-2222-2222-222222222222
    params:
      endpoint: ['arrayname02.fqdn.com']

    static_configs:
    # purefa openmetrics exporter
    - targets:
      - purefa-openmetrics-exporter.fqdn.com:9490
      labels:
        instance: arrayname02
        location: fr
        site: Paris
        env: test

# Scrape job for Pure Storage FlashArray 2 scraping /metrics/directories
  - job_name: 'purefa_directories_arrayname02'
    metrics_path: /metrics/directories
    # It is recommended to collect expensive queries less frequently such as /metrics/directories.
    scrape_interval:     15m # Set the scrape interval to every 15min. Default is every 1 minute. This overrides the global setting.
    scrape_timeout:      15m # Set the scrape timeout to shorter than or equal to scrape_interval. Default is every 1 minute.
    # Bearer authorization token
    authorization:
      credentials: 22222222-2222-2222-2222-222222222222
    params:
      endpoint: ['arrayname02.fqdn.com']

    static_configs:
    # purefa openmetrics exporter
    - targets:
      - purefa-openmetrics-exporter.fqdn.com:9490
      labels:
        instance: arrayname02
        location: fr
        site: Paris
        env: test